#container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.column {
    background-color: pink;
    padding: 1rem;
    /*flex: 1;*/
    /* will need to remove this and make it flexible in order to stay within the same size container */
    width: 15px;
    height: 15px;
}