#container {
    width: 700px;
    height:700px;
    margin: 0 auto;
    gap: 1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.row {
    display: flex;
    gap: 1px;
    flex: 1;
}

.column {
    background-color: pink;
    flex: 1 1 0;
    box-sizing: border-box;
}